/*------------------------------------------------------------wrapper----------------------------*/
@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.wrapper {
  color: #777777;
  font-family: "Roboto Condensed";
  box-sizing: border-box;
  -webkit-animation: opening 0.6s ease;
          animation: opening 0.6s ease;
  transition: opacity 0.6s ease;
  overflow-x: hidden;
}

/*------------------------------------------------------------scrollbar----------------------------*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #787878;
}

::-webkit-scrollbar-thumb {
  background: #ababab;
}

/*------------------------------------------------------------container----------------------------*/
.container {
  max-width: 1200px;
  margin: 0px auto;
  width: 100%;
}
@media (max-width: 1350px) {
  .container {
    padding: 0 47px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 0px 15px;
  }
}

/*------------------------------------------------------------header----------------------------*/
.header {
  height: 105px;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 0.5px solid #878787;
  opacity: 0;
  transition: opacity 1s ease;
}
@media (max-width: 550px) {
  .header {
    height: 70px;
  }
  .header .header__body {
    padding: 20px 0px;
  }
}

.header._visible {
  opacity: 1;
}

.header__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 30px 0px;
}

.header__logo {
  position: relative;
  z-index: 52;
}
.header__logo img {
  width: 45px;
  height: 45px;
}

.header__nav {
  flex: 0 1 45%;
  display: flex;
  justify-content: end;
}
.header__nav .nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header__nav .nav__item:not(:last-child) {
  margin-right: 50px;
}
.header__nav .nav__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 114.2857142857%;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #777777;
  cursor: pointer;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.phone img {
  margin-right: 10px;
  width: 21px;
  height: 21px;
}
.phone .phone__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 116.6666666667%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #777777;
  cursor: pointer;
}
.phone .phone__link:hover {
  transform: scale(1.1);
}

.header__burger {
  display: none;
  cursor: pointer;
}

/*------------------------------------------------------------window__media__header__<1200px----------------------------*/
@media (max-width: 1200px) {
  .header__body .header__nav {
    flex: 0 1 48%;
  }
}
/*------------------------------------------------------------window__media__header__<1100px----------------------------*/
@media (max-width: 1100px) {
  .header__body .header__nav {
    flex: 0 1 53%;
  }
}
/*------------------------------------------------------------window__media__header__<990px----------------------------*/
@media (max-width: 990px) {
  .header .header__burger {
    display: block;
    position: relative;
    z-index: 51;
    width: 40px;
    height: 20px;
  }
  .header .header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #393246;
    top: 9px;
    transition: all 0.6s ease-in-out;
  }
  .header .header__burger::after, .header .header__burger::before {
    content: " ";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #393246;
    transition: all 0.6s ease-in-out;
  }
  .header .header__burger::after {
    bottom: 0;
  }
  .header .header__burger::before {
    top: 0;
  }
  .header .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    background-color: #FFFFFF;
  }
  .header .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: #FFFFFF;
  }
  .header .header__burger.active span {
    transform: scale(0);
    background-color: #FFFFFF;
  }
  .header .header__nav.active .nav__link {
    color: #FFFFFF;
  }
  .header .phone.active img {
    content: url(../image/image__servise/icon/icon__header/phone.svg);
  }
  .header .phone.active .phone__link {
    color: #FFFFFF;
  }
  .header .header__logo.active img {
    content: url(../image/image__servise/icon/icon__header/logo.svg);
  }

  .header__nav {
    position: fixed;
    z-index: 2;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease-in-out;
  }
  .header__nav.active {
    top: 0;
  }
  .header__nav .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__nav .nav__list .nav__item {
    margin-right: 0px;
  }
  .header__nav .nav__list .nav__item:not(:last-child) {
    margin-bottom: 29px;
    text-align: center;
  }
  .header__nav .nav__list .nav__item .nav__link {
    font-weight: 300;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.08em;
  }

  .header__body .phone {
    position: relative;
    z-index: 51;
    flex: 0 1 60%;
    justify-content: end;
  }
}
/*------------------------------------------------------------window__media__header__<550px----------------------------*/
@media (max-width: 550px) {
  .header__body .header__logo img {
    width: 30px;
    height: 30px;
  }
  .header__body .phone .phone__link {
    font-size: 16px;
    line-height: 19px;
  }
}
/*------------------------------------------------------------main__service----------------------------*/
.main__service {
  padding-top: 105px;
}

.service__title {
  position: relative;
  font-weight: 300;
  font-size: 40px;
  line-height: 117.5%;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin: 100px 0px;
  height: 100%;
}

.ser__title {
  transition: all 0.5s ease;
  opacity: 0;
  transform: translate(0px, 200px);
}
.ser__title._visible {
  opacity: 1;
  transform: translate(0px, 0px);
}

.service__body {
  display: flex;
  justify-content: space-between;
}

.service__sub-title {
  position: relative;
  max-width: 340px;
  font-weight: 300;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  opacity: 0;
  transform: translate(-200px, 0px);
  transition: all 0.7s ease 0.5s;
}
.service__sub-title._visible {
  opacity: 1;
  transform: translate(0px, 0px);
}

.service__text {
  max-width: 687px;
  width: 100%;
}

.service__list {
  max-width: 585px;
}

.service__item {
  border-bottom: 1px solid #D5D5D5;
  padding-bottom: 25px;
  cursor: pointer;
  position: relative;
  right: -200px;
  opacity: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.service__item._visible {
  right: 0;
  opacity: 1;
}
.service__item:not(:first-child) {
  padding-top: 25px;
}
.service__item:hover {
  transform: scale(1.1);
  color: #393246;
}
.service__item:nth-child(1) {
  transition: right 0.5s ease 0.7s, transform 0.5s ease, opacity 0.5s ease 0.7s;
}
.service__item:nth-child(2) {
  transition: right 0.5s ease 0.9s, transform 0.5s ease, opacity 0.5s ease 0.9s;
}
.service__item:nth-child(3) {
  transition: right 0.5s ease 1.1s, transform 0.5s ease, opacity 0.5s ease 1.1s;
}
.service__item:nth-child(4) {
  transition: right 0.5s ease 1.2s, transform 0.5s ease, opacity 0.5s ease 1.2s;
}
@media (min-height: 900px) {
  .service__item:nth-child(5) {
    transition: right 0.5s ease 1.3s, opacity 0.5s ease 1.3s, transform 0.5s ease;
  }
}
@media (max-height: 899px) {
  .service__item:nth-child(5) {
    transition: right 0.5s ease 0s, opacity 0.5s ease 0s, transform 0.5s ease;
  }
}

.item__title {
  font-weight: 300;
  font-size: 20px;
  line-height: 135%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.item__sub-title {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
}

/*------------------------------------------------------------window__media__main__service__<850px----------------------------*/
@media (max-width: 850px) {
  .service__item:hover {
    transform: scale(0.9);
  }
  .service__item:nth-child(1) {
    transition: right 0.7s ease 0.4s, transform 0.5s ease, opacity 0.7s ease 0.4s;
  }
  .service__item:nth-child(2) {
    transition: right 0.7s ease 0.4s, transform 0.5s ease, opacity 0.7s ease 0.4s;
  }
  .service__item:nth-child(3) {
    transition: right 0.7s ease 0.4s, transform 0.5s ease, opacity 0.7s ease 0.4s;
  }
  .service__item:nth-child(4) {
    transition: right 0.7s ease 0.4s, transform 0.5s ease, opacity 0.7s ease 0.4s;
  }
  .service__item:nth-child(5) {
    transition: right 0.7s ease 0.4s, transform 0.5s ease, opacity 0.7s ease 0.4s;
  }

  .service__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .service__title {
    margin: 70px 0px;
  }

  .service__sub-title {
    margin-bottom: 30px;
    max-width: 100%;
    transition: all 0.5s ease 0.2s;
  }

  .service__text {
    max-width: 100%;
  }

  .service__list {
    max-width: 100%;
  }
}
/*------------------------------------------------------------window__media__main__service__<630px----------------------------*/
@media (max-width: 630px) {
  .service__sub-title {
    max-width: 400px;
  }
}
/*------------------------------------------------------------window__media__main__service__<550px----------------------------*/
@media (max-width: 550px) {
  .main__service {
    padding-top: 70px;
  }

  .service__title {
    font-size: 30px;
    margin: 70px 0px;
  }

  .service__sub-title {
    font-size: 20px;
  }

  .item__title {
    font-size: 16px;
  }
}
/*------------------------------------------------------------main__cost----------------------------*/
.main__cost {
  margin-top: 150px;
  position: relative;
  bottom: -200px;
  opacity: 0;
}
.main__cost._visible {
  transition: bottom 0.7s ease 0.1s, opacity 0.7s ease 0.1s, transform 0.5s ease, height 0.5s ease;
  bottom: 0;
  opacity: 1;
}

.cost__title {
  font-weight: 300;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.cost__columns {
  display: flex;
}

.cost__column {
  max-width: 380px;
  height: 206px;
  width: 90%;
  display: flex;
  flex-direction: column;
  border: 2px solid #D5D5D5;
  cursor: pointer;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
}
.cost__column:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 1%, rgba(0, 0, 0, 0) 80%);
  transition-duration: 0.3s;
  transition-property: transform opacity;
}
.cost__column:hover {
  transform: translateY(-10px);
  border: 2px solid #393246;
}
.cost__column:hover:before {
  opacity: 1;
  transform: translateY(5px);
}
.cost__column:hover .column__title {
  transition: all 0.5s ease;
  border-bottom: 2px solid #393246;
}
.cost__column:hover .column__button {
  background-color: #393246;
  color: #FFFFFF;
  border: 2px solid #393246;
}
.cost__column:not(:last-child) {
  margin-right: 30px;
}
.cost__column.cost__column-active {
  height: 651px;
}

.column__title {
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 1px solid #D5D5D5;
  padding: 13% 25%;
}
.column__title h5 {
  font-size: 30px;
  line-height: 116.6666666667%;
}
.column__title p {
  font-size: 25px;
  line-height: 116%;
  color: #878787;
}

.column__sub-title {
  transform: scaleY(0);
  height: 0px;
  max-height: 0px;
  transition: all 0.3s ease;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  flex: 1 1 auto;
}
.column__sub-title .li__filled:not(:last-child) {
  margin-bottom: 15px;
}
.column__sub-title .li__empy {
  content: " ";
  width: 13px;
  height: 1px;
  background-color: #777777;
  margin: 40px 0px;
}
.column__sub-title.column__active {
  height: 100%;
  max-height: 469px;
  min-height: 400px;
  transform: scaleY(1);
  padding: 30px;
  transition: all 0.3s ease-in-out;
}

.column__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 114.2857142857%;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #393246;
  padding: 22px 57px;
  background-color: #FFFFFF;
  flex: 0 0 auto;
  border: 1px solid #393246;
  margin: -2px;
}

.cost__more {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #777777;
  margin-top: 57px;
  cursor: pointer;
}
.cost__more.cost__more-active {
  color: #393246;
  transform: scale(1.1);
}
.cost__more.cost__more-active .cost__more-arrow {
  transform: rotate(180deg);
  border-color: #393246;
  transition: transform 0.5s ease;
}
.cost__more .cost__more-arrow {
  width: 30px;
  height: 30px;
  border: 1px solid #D5D5D5;
  border-radius: 50%;
  padding: 5px;
  margin-left: 10px;
  transition: all 0.5s ease;
}

#one__btn {
  display: none;
}

/*------------------------------------------------------------main__cost__media__<1050px----------------------------*/
@media (max-width: 1050px) {
  #one__btn {
    display: flex;
    margin: 11px;
    padding: 15px 0px;
  }

  .cost__more.cost__more-active#one__btn {
    margin: 0px;
  }

  #all {
    display: none;
  }

  .main__cost {
    margin-top: 70px;
  }

  .cost__title {
    margin-bottom: 30px;
  }

  .column__button {
    transform: scaleY(0);
    max-height: 0px;
    padding: 0px;
    transition: all 0.3s ease;
  }
  .column__button.column__button__active {
    max-height: 100%;
    transform: scaleY(1);
    padding: 22px;
    transition: all 0.3s ease;
  }

  .cost__columns {
    flex-direction: column;
  }

  .cost__column {
    max-width: 100%;
    width: 100%;
  }
  .cost__column:not(:last-child) {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .column__title {
    padding: 30px 100px;
  }
}
/*------------------------------------------------------------main__cost__media__<450px----------------------------*/
@media (max-width: 450px) {
  #one__btn {
    margin: 21px;
  }

  .cost__title {
    font-size: 20px;
  }

  .column__title {
    font-size: 20px;
    line-height: 125%;
    padding: 20px;
  }

  .column__sub-title.column__active {
    padding: 20px;
  }

  .cost__column:not(:last-child) {
    margin-bottom: 20px;
  }
}
/*------------------------------------------------------------main__realized----------------------------*/
.realized__body {
  transform: translate(0px, 200px);
  opacity: 0;
  transition: all 0.5s ease 0.3s;
}
.realized__body._visible {
  transform: translate(0px, 0px);
  opacity: 1;
}

.realized__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin: 150px 0px 50px 0px;
}

.realized__photo {
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
  transition: all 1s ease;
}

.gallery {
  display: flex;
  position: relative;
  transition: all 1s ease;
  left: 0;
}
.gallery .gallery__item {
  position: relative;
  cursor: pointer;
  min-width: 277px;
  min-height: 270px;
  overflow: hidden;
  margin-right: 29px;
}
.gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1s ease;
}
.gallery img:hover {
  transform: scale(1.15);
}

.gallery__btn {
  position: absolute;
  z-index: 2;
  top: 45%;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.gallery__btn.prev {
  left: 30px;
}
.gallery__btn.next {
  right: 30px;
}

.gallery__line {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  margin: 40px auto;
  content: "";
  width: 483px;
  height: 1px;
  background-color: #777777;
}
.gallery__line .gallery__line-loading {
  content: "";
  width: 20%;
  background-color: #393246;
  height: 3px;
  transition: all 1s ease;
}

/*------------------------------------------------------------main__realized__media__<1351px----------------------------*/
@media (max-width: 1351px) {
  .realized__photo {
    width: 894px;
  }
}
/*------------------------------------------------------------main__realized__media__<1000px----------------------------*/
@media (max-width: 1000px) {
  .realized__title {
    margin: 70px 0px 30px 0px;
  }

  .gallery .gallery__item:nth-child(1) {
    content: url(../image/image__servise/contant/realized/realized__768/realized__1.jpg);
  }
  .gallery .gallery__item:nth-child(2) {
    content: url(../image/image__servise/contant/realized/realized__768/realized__2.jpg);
  }
  .gallery .gallery__item:nth-child(3) {
    content: url(../image/image__servise/contant/realized/realized__768/realized__1.jpg);
  }
  .gallery .gallery__item:nth-child(4) {
    content: url(../image/image__servise/contant/realized/realized__768/realized__2.jpg);
  }
  .gallery .gallery__item:nth-child(5) {
    content: url(../image/image__servise/contant/realized/realized__768/realized__1.jpg);
  }
  .gallery .gallery__item:nth-child(6) {
    content: url(../image/image__servise/contant/realized/realized__768/realized__2.jpg);
  }
  .gallery .gallery__item:nth-child(7) {
    display: none;
  }
  .gallery .gallery__item:nth-child(8) {
    display: none;
  }

  .realized__photo {
    width: 677px;
  }
}
/*------------------------------------------------------------main__realized__media__<800px----------------------------*/
@media (max-width: 800px) {
  .gallery .gallery__item:nth-child(1) {
    content: url(../image/image__servise/contant/realized/realized__1920/realized__1.jpg);
  }
  .gallery .gallery__item:nth-child(2) {
    content: url(../image/image__servise/contant/realized/realized__1920/realized__2.jpg);
  }
  .gallery .gallery__item:nth-child(3) {
    content: url(../image/image__servise/contant/realized/realized__1920/realized__3.jpg);
  }
  .gallery .gallery__item:nth-child(4) {
    content: url(../image/image__servise/contant/realized/realized__1920/realized__4.jpg);
  }
  .gallery .gallery__item:nth-child(5) {
    content: url(../image/image__servise/contant/realized/realized__1920/realized__1.jpg);
  }
  .gallery .gallery__item:nth-child(6) {
    content: url(../image/image__servise/contant/realized/realized__1920/realized__2.jpg);
  }
  .gallery .gallery__item:nth-child(7) {
    display: none;
  }
  .gallery .gallery__item:nth-child(8) {
    display: none;
  }

  .realized__photo {
    width: 566px;
  }
  .realized__photo li:not(:last-child) {
    margin-right: 10px;
  }
}
/*------------------------------------------------------------main__realized__media__<660px----------------------------*/
@media (max-width: 660px) {
  .gallery .gallery__item:nth-child(1) {
    content: url(../image/image__servise/contant/realized/realized__320/realized__1.jpg);
  }
  .gallery .gallery__item:nth-child(2) {
    content: url(../image/image__servise/contant/realized/realized__320/realized__1.jpg);
  }
  .gallery .gallery__item:nth-child(3) {
    content: url(../image/image__servise/contant/realized/realized__320/realized__1.jpg);
  }
  .gallery .gallery__item:nth-child(4) {
    content: url(../image/image__servise/contant/realized/realized__320/realized__1.jpg);
  }
  .gallery .gallery__item:nth-child(5) {
    content: url(../image/image__servise/contant/realized/realized__320/realized__1.jpg);
  }
  .gallery .gallery__item:nth-child(6) {
    content: url(../image/image__servise/contant/realized/realized__320/realized__1.jpg);
  }
  .gallery .gallery__item:nth-child(7) {
    display: none;
  }
  .gallery .gallery__item:nth-child(8) {
    display: none;
  }

  .gallery__line {
    margin: 40px auto;
    width: 290px;
  }

  .realized__photo {
    width: 290px;
  }
  .realized__photo li:not(:last-child) {
    margin-right: 10px;
  }
}
/*----------------------------------APPLICATION-----------------------------------*/
.body__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__application {
  max-width: 614px;
  margin: 129px 0px;
  transform: translate(0px, 200px);
  transition: all 0.5s ease;
  opacity: 0;
}
.btn__application._visible {
  transform: translate(0px, 0px);
  opacity: 1;
}
.btn__application h4 {
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  border-bottom: 1px solid #D5D5D5;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.btn__application h4:hover {
  color: #393246;
  border-bottom: 2px solid #393246;
}

/*------------------------------------------------------------btn__application__<1350px----------------------------*/
@media (max-width: 1000px) {
  .btn__application {
    margin: 95px 0px;
  }
}
/*------------------------------------------------------------btn__application__<750px----------------------------*/
@media (max-width: 750px) {
  .btn__application h4 {
    font-size: 30px;
    line-height: 187.5%;
  }
}
/*------------------------------------------------------------btn__application__<550px----------------------------*/
@media (max-width: 550px) {
  .btn__application {
    margin: 75px 0px;
  }
  .btn__application h4 {
    font-size: 25px;
    line-height: 156.25%;
  }
}
/*------------------------------------------------------------btn__application__<420px----------------------------*/
@media (max-width: 420px) {
  .btn__application h4 {
    font-size: 18px;
    line-height: 100%;
  }
}
.list-application {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.8s ease-in, transform 0.4s ease;
}
.list-application.application__active {
  opacity: 1;
  transform: scale(1);
}

.application__exit {
  font-size: 25px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.application__body {
  background-color: #FFFFFF;
  max-width: 800px;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.application__body h3 {
  font-weight: 300;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.application__body .application__input {
  margin: 40px 0px;
  display: flex;
  justify-content: space-between;
}
.application__body .application__input input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #878787;
  border-bottom: 1px solid #777777;
  max-width: 335px;
  width: 100%;
  transition: all 0.2s ease;
}
.application__body .application__input input:focus {
  border-bottom: 2px solid #393246;
  color: #393246;
  transform: scale(1.04);
}
.application__body .application__submit {
  display: flex;
  align-items: center;
}
.application__body .application__submit button {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 22px 65px;
  background: #393246;
  border: 1px solid #393246;
  margin-right: 34px;
}
.application__body .application__submit p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  line-height: 115.3846153846%;
  color: #878787;
  max-width: 309px;
}
.application__body .application__submit p span {
  text-decoration: underline;
}

/*----------------------------------APPLICATION__MEDIA__<950px-----------------------------------*/
@media (max-width: 950px) {
  .application__body {
    max-width: 600px;
    padding: 40px;
  }
  .application__body .application__input input {
    max-width: 230px;
  }
}
/*----------------------------------APPLICATION__MEDIA__<700px-----------------------------------*/
@media (max-width: 700px) {
  .application__body {
    max-width: 500px;
  }
  .application__body .application__input input {
    max-width: 180px;
  }
  .application__body h3 {
    font-size: 25px;
  }
}
/*----------------------------------APPLICATION__MEDIA__<600px-----------------------------------*/
@media (max-width: 600px) {
  .application__body {
    max-width: 350px;
    padding: 25px;
  }
  .application__body h3 {
    font-size: 20px;
  }
  .application__body .application__input {
    flex-direction: column;
  }
  .application__body .application__input input {
    max-width: 100%;
  }
  .application__body .application__input input:not(:last-child) {
    margin-bottom: 35px;
  }
  .application__body .application__submit {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .application__body .application__submit button {
    width: 100%;
    margin: 0px 0px 20px 0px;
  }
}
/*----------------------------------APPLICATION__MEDIA__<400px-----------------------------------*/
@media (max-width: 400px) {
  .application__body {
    max-width: 290px;
    padding: 13px;
  }
}
/*----------------------------------APPLICATION__succesfully-----------------------------------*/
.application-succesfully {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.8s ease-in, transform 0.4s ease;
}
.application-succesfully.succesfully__active {
  transform: scale(1);
  opacity: 1;
}

.succesfully__body {
  background-color: #FFFFFF;
  position: relative;
  z-index: 51;
  padding: 50px 108px;
  width: 607px;
  height: 394px;
}

.succesfully__title h4 {
  font-weight: 300;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin: 20px 0px;
}

.succesfully__text {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 40px;
}

.succesfully__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.succesfully__item {
  transition: all 0.3s ease;
}
.succesfully__item:hover {
  transform: scale(1.2);
}
.succesfully__item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 114.2857142857%;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #878787;
}
.succesfully__item a:hover {
  color: #393246;
  text-decoration: underline;
}

/*----------------------------------APPLICATION___SUCCESFULLY__MEDIA__<700-----------------------------------*/
@media (max-width: 700px) {
  .succesfully__body {
    padding: 25px 50px;
    width: 500px;
    height: 394px;
  }
}
/*----------------------------------APPLICATION___SUCCESFULLY__MEDIA__<600-----------------------------------*/
@media (max-width: 600px) {
  .succesfully__body {
    padding: 12px 30px;
    width: 400px;
    height: 394px;
  }

  .succesfully__item a {
    font-size: 13px;
  }
}
/*----------------------------------APPLICATION___SUCCESFULLY__MEDIA__<450-----------------------------------*/
@media (max-width: 450px) {
  .succesfully__body {
    padding: 12px 30px;
    width: 260px;
    height: 364px;
  }
  .succesfully__body .succesfully__title h4 {
    font-size: 20px;
    line-height: 125%;
    margin: 15px 0px;
  }
  .succesfully__body .succesfully__text {
    margin-bottom: 25px;
  }
  .succesfully__body .succesfully__list {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
}
/*----------------------------------footer-----------------------------------*/
.footer {
  background-color: #F7F7F7;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  transition: transform 1.5s ease, opacity 0.2s ease;
}
.social__item:not(:last-child) {
  margin-right: 30px;
}
.social__item:nth-child(1) {
  transform: translate(-150px, 90px);
  opacity: 0;
}
.social__item:nth-child(1)._visible {
  transform: translate(0px, 0px);
  opacity: 1;
}
.social__item:nth-child(2) {
  transform: translate(-100px, 60px);
  opacity: 0;
}
.social__item:nth-child(2)._visible {
  transform: translate(0px, 0px);
  opacity: 1;
}
.social__item:nth-child(3) {
  transform: translate(100px, 60px);
  opacity: 0;
}
.social__item:nth-child(3)._visible {
  transform: translate(0px, 0px);
  opacity: 1;
}
.social__item:nth-child(4) {
  transform: translate(150px, 90px);
  opacity: 0;
}
.social__item:nth-child(4)._visible {
  transform: translate(0px, 0px);
  opacity: 1;
}

a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: inherit;
  transition: all 0.5s ease;
}
a:hover {
  text-decoration: underline;
  transform: scale(1.2);
  color: #393246;
}

.text {
  margin-top: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #878787;
}

/*----------------------------------footer__media__<450px-----------------------------------*/
@media (max-width: 450px) {
  .footer .social__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer .social__item {
    text-align: center;
    margin-right: 0;
  }
  .footer .social__item:not(:last-child) {
    margin-bottom: 15px;
  }
}